In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dir = '/Users/kevinshuey/massive_dataset/quant_intern/future_price20230628.txt'
df = pd.read_csv(dir, sep='\t', header=0)
df_u = df[['TDATE', 'TTIME', 'UPDATEMILLISEC', 'LASTPX', 'B1', 'S1', 'AVGPX', 'TQ', 'OPENINTS']]
df_u = df_u.dropna(subset=['LASTPX', 'S1', 'B1', 'AVGPX'])
df_u.head()

,TDATE,TTIME,UPDATEMILLISEC,LASTPX,B1,S1,AVGPX,TQ,OPENINTS
0,20230628,85900,4,13125.0,13125.0,13135.0,13125.0,4537,78428
1,20230628,90000,484,13125.0,13120.0,13125.0,13120.0,4551,78425
2,20230628,90000,975,13130.0,13125.0,13135.0,13125.0,4583,78430
3,20230628,90001,476,13125.0,13125.0,13130.0,13125.0,4592,78430
4,20230628,90001,960,13125.0,13120.0,13125.0,13125.0,4601,78435

In [4]:
df_u['CRTPX'] = df['LASTPX'].shift(-1)
df_u['MID'] = (df_u['B1'] + df_u['S1']) / 2

df_u.head()

,TDATE,TTIME,UPDATEMILLISEC,LASTPX,B1,S1,AVGPX,TQ,OPENINTS,CRTPX,MID
0,20230628,85900,4,13125.0,13125.0,13135.0,13125.0,4537,78428,13125.0,13130.0
1,20230628,90000,484,13125.0,13120.0,13125.0,13120.0,4551,78425,13130.0,13122.5
2,20230628,90000,975,13130.0,13125.0,13135.0,13125.0,4583,78430,13125.0,13130.0
3,20230628,90001,476,13125.0,13125.0,13130.0,13125.0,4592,78430,13125.0,13127.5
4,20230628,90001,960,13125.0,13120.0,13125.0,13125.0,4601,78435,13115.0,13122.5

In [5]:
# Stage I: Comparison between P_t and P_t^{mid}
buy_stage1 = df_u['CRTPX'] > df_u['MID']
sell_stage1 = df_u['CRTPX'] < df_u['MID']
equal_stage1 = df_u['CRTPX'] == df_u['MID']
dir1 = np.where(buy_stage1, 'BUY', np.where(sell_stage1, 'SELL', 'EQUAL'))
df_u['dir1'] = dir1
df_u.head()

,TDATE,TTIME,UPDATEMILLISEC,LASTPX,B1,S1,AVGPX,TQ,OPENINTS,CRTPX,MID,dir1
0,20230628,85900,4,13125.0,13125.0,13135.0,13125.0,4537,78428,13125.0,13130.0,SELL
1,20230628,90000,484,13125.0,13120.0,13125.0,13120.0,4551,78425,13130.0,13122.5,BUY
2,20230628,90000,975,13130.0,13125.0,13135.0,13125.0,4583,78430,13125.0,13130.0,SELL
3,20230628,90001,476,13125.0,13125.0,13130.0,13125.0,4592,78430,13125.0,13127.5,SELL
4,20230628,90001,960,13125.0,13120.0,13125.0,13125.0,4601,78435,13115.0,13122.5,SELL

In [6]:
def count(col):
    count1 = df_u[col].value_counts().get('NA1', 0)
    count4 = df_u[col].value_counts().get('NA2', 0)
    count5 = df_u[col].value_counts().get('NA3', 0)
    count2 = df_u[col].value_counts().get('BUY', 0)
    count3 = df_u[col].value_counts().get('SELL', 0)
    count6 = df_u[col].value_counts().get('EQUAL', 0)

    print(f"The number of 'NA1' is {count1}.")
    print(f"The number of 'NA2' is {count4}.")
    print(f"The number of 'NA3' is {count5}.")
    print(f"The number of 'BUY' is {count2}.")
    print(f"The number of 'SELL' is {count3}.")
    print(f"The number of 'EQUAL' is {count6}.")

In [7]:
count('dir1')

The number of 'NA1' is 0.
The number of 'NA2' is 0.
The number of 'NA3' is 0.
The number of 'BUY' is 826600.
The number of 'SELL' is 842045.
The number of 'EQUAL' is 210270.

In [8]:
# Stage II: Comparison between P_{t-1} and P_t^{mid}
df_u['dir2'] = np.where(df_u['dir1'] != 'EQUAL', df_u['dir1'], 'NA1')
df_equal = df_u[df_u['dir1'] == 'EQUAL']

buy_stage2 = (df_u['MID'].loc[df_equal.index] > df_u['LASTPX'].loc[df_equal.index])
sell_stage2 = (df_u['MID'].loc[df_equal.index] < df_u['LASTPX'].loc[df_equal.index])
dir2 = np.where(buy_stage2, 'BUY', np.where(sell_stage2, 'SELL', 'NA2'))
df_u.loc[df_equal.index, 'dir2'] = dir2
df_u.head()

,TDATE,TTIME,UPDATEMILLISEC,LASTPX,B1,S1,AVGPX,TQ,OPENINTS,CRTPX,MID,dir1,dir2
0,20230628,85900,4,13125.0,13125.0,13135.0,13125.0,4537,78428,13125.0,13130.0,SELL,SELL
1,20230628,90000,484,13125.0,13120.0,13125.0,13120.0,4551,78425,13130.0,13122.5,BUY,BUY
2,20230628,90000,975,13130.0,13125.0,13135.0,13125.0,4583,78430,13125.0,13130.0,SELL,SELL
3,20230628,90001,476,13125.0,13125.0,13130.0,13125.0,4592,78430,13125.0,13127.5,SELL,SELL
4,20230628,90001,960,13125.0,13120.0,13125.0,13125.0,4601,78435,13115.0,13122.5,SELL,SELL

In [9]:
count('dir2')

The number of 'NA1' is 0.
The number of 'NA2' is 204577.
The number of 'NA3' is 0.
The number of 'BUY' is 829495.
The number of 'SELL' is 844843.
The number of 'EQUAL' is 0.

In [10]:
# Stage III: Comparison between P_{t} and P_{t-k}
df_u['dP'] = df_u['CRTPX'].diff()

nonzero_indices = df_u.index[df_u['dP'] != 0]
df_u['LASTID'] = np.nan
df_u.loc[nonzero_indices, 'LASTID'] = nonzero_indices
df_u['LASTID'] = df_u['LASTID'].ffill().astype(int)

df_u['LASTVAL'] = df_u['LASTID'].apply(lambda x: df_u.at[x, 'CRTPX'])
df_u.head(30)

,TDATE,TTIME,UPDATEMILLISEC,LASTPX,B1,S1,AVGPX,TQ,OPENINTS,CRTPX,MID,dir1,dir2,dP,LASTID,LASTVAL
0,20230628,85900,4,13125.0,13125.0,13135.0,13125.0,4537,78428,13125.0,13130.0,SELL,SELL,NaN,0,13125.0
1,20230628,90000,484,13125.0,13120.0,13125.0,13120.0,4551,78425,13130.0,13122.5,BUY,BUY,5.0,1,13130.0
2,20230628,90000,975,13130.0,13125.0,13135.0,13125.0,4583,78430,13125.0,13130.0,SELL,SELL,-5.0,2,13125.0
3,20230628,90001,476,13125.0,13125.0,13130.0,13125.0,4592,78430,13125.0,13127.5,SELL,SELL,0.0,2,13125.0
4,20230628,90001,960,13125.0,13120.0,13125.0,13125.0,4601,78435,13115.0,13122.5,SELL,SELL,-10.0,4,13115.0
5,20230628,90002,484,13115.0,13110.0,13120.0,13125.0,4608,78438,13110.0,13115.0,SELL,SELL,-5.0,5,13110.0
6,20230628,90002,941,13110.0,13110.0,13115.0,13120.0,4654,78461,13110.0,13112.5,SELL,SELL,0.0,5,13110.0
7,20230628,90003,481,13110.0,13105.0,13110.0,13120.0,4676,78462,13100.0,13107.5,SELL,SELL,-10.0,7,13100.0
8,20230628,90003,953,13100.0,13100.0,13105.0,13120.0,4691,78460,13105.0,13102.5,BUY,BUY,5.0,8,13105.0
9,20230628,90004,454,13105.0,13100.0,13105.0,13120.0,4699,78459,13100.0,13102.5,SELL,SELL,-5.0,9,13100.0
10,20230628,90004,959,13100.0,13100.0,13105.0,13120.0,4701,78459,13105.0,13102.5,BUY,BUY,5.0,10,13105.0
11,20230628,90005,499,13105.0,13100.0,13110.0,13120.0,4707,78459,13110.0,13105.0,BUY,BUY,5.0,11,13110.0
12,20230628,90005,939,13110.0,13105.0,13115.0,13120.0,4712,78458,13105.0,13110.0,SELL,SELL,-5.0,12,13105.0
13,20230628,90006,470,13105.0,13105.0,13115.0,13120.0,4715,78456,13105.0,13110.0,SELL,SELL,0.0,12,13105.0
14,20230628,90006,990,13105.0,13105.0,13120.0,13120.0,4718,78457,13105.0,13112.5,SELL,SELL,0.0,12,13105.0
15,20230628,90007,470,13105.0,13105.0,13115.0,13120.0,4718,78457,13105.0,13110.0,SELL,SELL,0.0,12,13105.0
16,20230628,90007,994,13105.0,13100.0,13105.0,13120.0,4720,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0
17,20230628,90008,447,13105.0,13100.0,13105.0,13120.0,4720,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0
18,20230628,90008,993,13105.0,13100.0,13105.0,13120.0,4721,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0
19,20230628,90009,988,13105.0,13100.0,13105.0,13120.0,4728,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0
20,20230628,90010,458,13105.0,13105.0,13110.0,13120.0,4732,78453,13105.0,13107.5,SELL,SELL,0.0,12,13105.0
21,20230628,90010,929,13105.0,13105.0,13110.0,13120.0,4732,78453,13105.0,13107.5,SELL,SELL,0.0,12,13105.0
22,20230628,90011,437,13105.0,13105.0,13110.0,13120.0,4734,78455,13105.0,13107.5,SELL,SELL,0.0,12,13105.0
23,20230628,90011,958,13105.0,13100.0,13105.0,13120.0,4737,78455,13105.0,13102.5,BUY,BUY,0.0,12,13105.0
24,20230628,90012,452,13105.0,13105.0,13110.0,13120.0,4744,78452,13105.0,13107.5,SELL,SELL,0.0,12,13105.0
25,20230628,90012,941,13105.0,13105.0,13115.0,13120.0,4746,78451,13105.0,13110.0,SELL,SELL,0.0,12,13105.0
26,20230628,90013,477,13105.0,13110.0,13115.0,13120.0,4746,78451,13115.0,13112.5,BUY,BUY,10.0,26,13115.0
27,20230628,90013,976,13115.0,13115.0,13120.0,13120.0,4751,78450,13120.0,13117.5,BUY,BUY,5.0,27,13120.0
28,20230628,90014,441,13120.0,13120.0,13125.0,13120.0,4760,78445,13125.0,13122.5,BUY,BUY,5.0,28,13125.0
29,20230628,90014,941,13125.0,13120.0,13130.0,13120.0,4773,78433,13125.0,13125.0,EQUAL,NA2,0.0,28,13125.0

In [11]:
def Dir3(row):
    if row['dir2'] == 'SELL':
        return 'SELL'
    elif row['dir2'] == 'BUY':
        return 'BUY'
    elif row['dir2'] == 'NA2':
        if row['CRTPX'] > row['LASTVAL']:
            return 'BUY'
        elif row['CRTPX'] < row['LASTVAL']:
            return 'SELL'
        else:
            return 'NA3'
    else:
        return 'NA3'
# 'apply' methods will consume a little more time
df_u['dir3'] = df_u.apply(Dir3, axis=1)

In [12]:
df_u.head(60)

,TDATE,TTIME,UPDATEMILLISEC,LASTPX,B1,S1,AVGPX,TQ,OPENINTS,CRTPX,MID,dir1,dir2,dP,LASTID,LASTVAL,dir3
0,20230628,85900,4,13125.0,13125.0,13135.0,13125.0,4537,78428,13125.0,13130.0,SELL,SELL,NaN,0,13125.0,SELL
1,20230628,90000,484,13125.0,13120.0,13125.0,13120.0,4551,78425,13130.0,13122.5,BUY,BUY,5.0,1,13130.0,BUY
2,20230628,90000,975,13130.0,13125.0,13135.0,13125.0,4583,78430,13125.0,13130.0,SELL,SELL,-5.0,2,13125.0,SELL
3,20230628,90001,476,13125.0,13125.0,13130.0,13125.0,4592,78430,13125.0,13127.5,SELL,SELL,0.0,2,13125.0,SELL
4,20230628,90001,960,13125.0,13120.0,13125.0,13125.0,4601,78435,13115.0,13122.5,SELL,SELL,-10.0,4,13115.0,SELL
5,20230628,90002,484,13115.0,13110.0,13120.0,13125.0,4608,78438,13110.0,13115.0,SELL,SELL,-5.0,5,13110.0,SELL
6,20230628,90002,941,13110.0,13110.0,13115.0,13120.0,4654,78461,13110.0,13112.5,SELL,SELL,0.0,5,13110.0,SELL
7,20230628,90003,481,13110.0,13105.0,13110.0,13120.0,4676,78462,13100.0,13107.5,SELL,SELL,-10.0,7,13100.0,SELL
8,20230628,90003,953,13100.0,13100.0,13105.0,13120.0,4691,78460,13105.0,13102.5,BUY,BUY,5.0,8,13105.0,BUY
9,20230628,90004,454,13105.0,13100.0,13105.0,13120.0,4699,78459,13100.0,13102.5,SELL,SELL,-5.0,9,13100.0,SELL
10,20230628,90004,959,13100.0,13100.0,13105.0,13120.0,4701,78459,13105.0,13102.5,BUY,BUY,5.0,10,13105.0,BUY
11,20230628,90005,499,13105.0,13100.0,13110.0,13120.0,4707,78459,13110.0,13105.0,BUY,BUY,5.0,11,13110.0,BUY
12,20230628,90005,939,13110.0,13105.0,13115.0,13120.0,4712,78458,13105.0,13110.0,SELL,SELL,-5.0,12,13105.0,SELL
13,20230628,90006,470,13105.0,13105.0,13115.0,13120.0,4715,78456,13105.0,13110.0,SELL,SELL,0.0,12,13105.0,SELL
14,20230628,90006,990,13105.0,13105.0,13120.0,13120.0,4718,78457,13105.0,13112.5,SELL,SELL,0.0,12,13105.0,SELL
15,20230628,90007,470,13105.0,13105.0,13115.0,13120.0,4718,78457,13105.0,13110.0,SELL,SELL,0.0,12,13105.0,SELL
16,20230628,90007,994,13105.0,13100.0,13105.0,13120.0,4720,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0,BUY
17,20230628,90008,447,13105.0,13100.0,13105.0,13120.0,4720,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0,BUY
18,20230628,90008,993,13105.0,13100.0,13105.0,13120.0,4721,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0,BUY
19,20230628,90009,988,13105.0,13100.0,13105.0,13120.0,4728,78456,13105.0,13102.5,BUY,BUY,0.0,12,13105.0,BUY
20,20230628,90010,458,13105.0,13105.0,13110.0,13120.0,4732,78453,13105.0,13107.5,SELL,SELL,0.0,12,13105.0,SELL
21,20230628,90010,929,13105.0,13105.0,13110.0,13120.0,4732,78453,13105.0,13107.5,SELL,SELL,0.0,12,13105.0,SELL
22,20230628,90011,437,13105.0,13105.0,13110.0,13120.0,4734,78455,13105.0,13107.5,SELL,SELL,0.0,12,13105.0,SELL
23,20230628,90011,958,13105.0,13100.0,13105.0,13120.0,4737,78455,13105.0,13102.5,BUY,BUY,0.0,12,13105.0,BUY
24,20230628,90012,452,13105.0,13105.0,13110.0,13120.0,4744,78452,13105.0,13107.5,SELL,SELL,0.0,12,13105.0,SELL
25,20230628,90012,941,13105.0,13105.0,13115.0,13120.0,4746,78451,13105.0,13110.0,SELL,SELL,0.0,12,13105.0,SELL
26,20230628,90013,477,13105.0,13110.0,13115.0,13120.0,4746,78451,13115.0,13112.5,BUY,BUY,10.0,26,13115.0,BUY
27,20230628,90013,976,13115.0,13115.0,13120.0,13120.0,4751,78450,13120.0,13117.5,BUY,BUY,5.0,27,13120.0,BUY
28,20230628,90014,441,13120.0,13120.0,13125.0,13120.0,4760,78445,13125.0,13122.5,BUY,BUY,5.0,28,13125.0,BUY
29,20230628,90014,941,13125.0,13120.0,13130.0,13120.0,4773,78433,13125.0,13125.0,EQUAL,NA2,0.0,28,13125.0,NA3
30,20230628,90015,480,13125.0,13125.0,13130.0,13120.0,4776,78435,13130.0,13127.5,BUY,BUY,5.0,30,13130.0,BUY
31,20230628,90015,941,13130.0,13120.0,13130.0,13120.0,4789,78433,13130.0,13125.0,BUY,BUY,0.0,30,13130.0,BUY
32,20230628,90016,469,13130.0,13130.0,13140.0,13120.0,4823,78425,13135.0,13135.0,EQUAL,BUY,5.0,32,13135.0,BUY
33,20230628,90016,937,13135.0,13130.0,13140.0,13120.0,4824,78425,13135.0,13135.0,EQUAL,NA2,0.0,32,13135.0,NA3
34,20230628,90017,447,13135.0,13135.0,13140.0,13120.0,4824,78425,13140.0,13137.5,BUY,BUY,5.0,34,13140.0,BUY
35,20230628,90017,997,13140.0,13140.0,13145.0,13120.0,4844,78428,13145.0,13142.5,BUY,BUY,5.0,35,13145.0,BUY
36,20230628,90018,458,13145.0,13145.0,13150.0,13120.0,4852,78427,13150.0,13147.5,BUY,BUY,5.0,36,13150.0,BUY
37,20230628,90018,941,13150.0,13150.0,13155.0,13120.0,4859,78425,13155.0,13152.5,BUY,BUY,5.0,37,13155.0,BUY
38,20230628,90019,471,13155.0,13155.0,13160.0,13120.0,4870,78423,13160.0,13157.5,BUY,BUY,5.0,38,13160.0,BUY
39,20230628,90019,938,13160.0,13150.0,13155.0,13120.0,4894,78434,13150.0,13152.5,SELL,SELL,-10.0,39,13150.0,SELL
40,20230628,90020,469,13150.0,13145.0,13150.0,13120.0,4896,78434,13150.0,13147.5,BUY,BUY,0.0,39,13150.0,BUY
41,20230628,90020,969,13150.0,13145.0,13150.0,13120.0,4908,78435,13150.0,13147.5,BUY,BUY,0.0,39,13150.0,BUY
42,20230628,90021,429,13150.0,13150.0,13155.0,13120.0,4909,78436,13150.0,13152.5,SELL,SELL,0.0,39,13150.0,SELL
43,20230628,90021,990,13150.0,13150.0,13155.0,13120.0,4913,78435,13155.0,13152.5,BUY,BUY,5.0,43,13155.0,BUY
44,20230628,90022,499,13155.0,13150.0,13155.0,13125.0,4929,78434,13155.0,13152.5,BUY,BUY,0.0,43,13155.0,BUY
45,20230628,90022,937,13155.0,13150.0,13155.0,13125.0,4934,78432,13155.0,13152.5,BUY,BUY,0.0,43,13155.0,BUY
46,20230628,90023,446,13155.0,13155.0,13160.0,13125.0,4937,78432,13160.0,13157.5,BUY,BUY,5.0,46,13160.0,BUY
47,20230628,90023,941,13160.0,13155.0,13165.0,13125.0,4941,78433,13155.0,13160.0,SELL,SELL,-5.0,47,13155.0,SELL
48,20230628,90024,437,13155.0,13155.0,13165.0,13125.0,4942,78433,13165.0,13160.0,BUY,BUY,10.0,48,13165.0,BUY
49,20230628,90024,997,13165.0,13165.0,13170.0,13125.0,4948,78434,13165.0,13167.5,SELL,SELL,0.0,48,13165.0,SELL
50,20230628,90025,488,13165.0,13165.0,13175.0,13125.0,4967,78444,13165.0,13170.0,SELL,SELL,0.0,48,13165.0,SELL
51,20230628,90025,979,13165.0,13165.0,13175.0,13125.0,4971,78442,13170.0,13170.0,EQUAL,BUY,5.0,51,13170.0,BUY
52,20230628,90026,441,13170.0,13170.0,13175.0,13125.0,4973,78440,13175.0,13172.5,BUY,BUY,5.0,52,13175.0,BUY
53,20230628,90026,994,13175.0,13170.0,13175.0,13125.0,4975,78438,13175.0,13172.5,BUY,BUY,0.0,52,13175.0,BUY
54,20230628,90027,456,13175.0,13170.0,13175.0,13125.0,4980,78437,13175.0,13172.5,BUY,BUY,0.0,52,13175.0,BUY
55,20230628,90027,951,13175.0,13175.0,13180.0,13125.0,4990,78442,13175.0,13177.5,SELL,SELL,0.0,52,13175.0,SELL
56,20230628,90028,477,13175.0,13175.0,13185.0,13125.0,5027,78461,13180.0,13180.0,EQUAL,BUY,5.0,56,13180.0,BUY
57,20230628,90028,937,13180.0,13180.0,13185.0,13125.0,5030,78461,13190.0,13182.5,BUY,BUY,10.0,57,13190.0,BUY
58,20230628,90029,484,13190.0,13185.0,13190.0,13125.0,5041,78468,13185.0,13187.5,SELL,SELL,-5.0,58,13185.0,SELL
59,20230628,90029,937,13185.0,13180.0,13190.0,13125.0,5074,78460,13185.0,13185.0,EQUAL,NA2,0.0,58,13185.0,NA3

In [13]:
count('dir3')

The number of 'NA1' is 0.
The number of 'NA2' is 0.
The number of 'NA3' is 204577.
The number of 'BUY' is 829495.
The number of 'SELL' is 844843.
The number of 'EQUAL' is 0.

In [14]:
count_na3 = (df_u['dir3'] == 'NA3').sum()
count_buy = (df_u['dir3'] == 'BUY').sum()
count_sell = (df_u['dir3'] == 'SELL').sum()

counts = {
    'Category': ['BUY', 'SELL', 'N/A'],
    'Count': [count_buy, count_sell, count_na3]
}

df_counts = pd.DataFrame(counts)
df_counts

  Category   Count
0      BUY  829495
1     SELL  844843
2      N/A  204577

In [15]:
print(df_counts)

  Category   Count
0      BUY  829495
1     SELL  844843
2      N/A  204577